.imgUnit{
  // margin-bottom:#{$pc_image_unit_spacingBottom}px;
  @include pie-clearfix;
  > img{
    float:left;
    margin-right:#{$pc_image_unit_spacing}px;
    margin-bottom:0;
  }
  > .txt{
    &.rect{
      overflow: hidden;
    }
  }

  &.imgR{
    > img{
      float:right;
      margin-right:0;
      margin-left:#{$pc_image_unit_spacing}px;
    }
  }

  &.nrwSpace{
    > img{
      margin-right:#{$pc_image_unit_spacing / 2}px; 
    }
  }
}

.imgUnitFixed{
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  > .item{
    display: table-cell;
    vertical-align: top;
  }
  > .itemImg{
    display: table-cell;
    width:320px;
    vertical-align: top;
    padding-left:#{$pc_image_unit_spacing}px;
  }
}

