%bgStyle{
  background-repeat:no-repeat;
  background-position:center top;
  @include background-size(100% auto);
}
body{
  background-color:#fff;
  .bg1{
    @extend %bgStyle;
    background-image:url(../images/common/bg1.jpg);
  }
  .bg2{
    @extend %bgStyle;
    background-image:url(../images/common/bg2.jpg);
  }
  .bg3{
    @extend %bgStyle;
    background-image:url(../images/common/bg3.jpg);
  }
  .bg4{
    @extend %bgStyle;
    background-image:url(../images/common/bg4.jpg);
  } 
}


.container {
  max-width: #{$pc_container_maxWidth}px;
  min-height: #{$pc_container_minHeight}px;
  padding: #{$pc_container_paddingTop}px #{$pc_container_paddingLeft}px 0 #{$pc_container_paddingRight}px;
  .copy{
    padding: 20px;
    font-size:#{$pc_textTinySize}px;
    &.top{
      text-align: right;
    }
  }
}