.contents{
  background-color:transparent;
  padding-top:0;
  .mainCont{
    background-color:rgba(255,255,255,0.9);
    padding: #{$pc_contents_vertical_spacing}px #{$pc_contents_side_spacing}px;
  }
}