.glNav{
  position: absolute;
  z-index: 10;
  top:20px;
  left:50px;
  padding-bottom:30px;
  width: #{$pc_navigation_width}px;
  background:rgba(255,255,255,0.8);
  .logo{
    position:relative;
    height: #{$pc_navigation_height}px;
    background-color:none;
    background-image:url(../images/common/pc_logo.png);
    background-position:0 0;
    background-repeat: no-repeat;
    @include background-size(200px);
    a{
      height: #{$pc_navigation_height}px;
    }
  }
  .mainNav{
    padding:30px 8px 100px 28px;
    > ul{
      > li{
        margin-bottom:20px;
        > a{
          font-size:#{$pc_textLargeSize}px;
          font-weight: bold;
        }
        &.cur{
          > a{
            text-decoration:none;
            color:$status_linkColor;
          }
        }
        &.pageTop{
          display: none;
        }
        ul.sub{
          padding:10px 0 0 15px;
          > li{
            margin-bottom: 10px;
            >a{
              display: block;
              line-height: 22px;
            }
            &.cur{
              color:$status_attentionColor;
              a{
                color:$status_attentionColor !important;
                font-weight: bold;
                &:hover{
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .utility{
    padding:0 28px;
    ul{
      li{
        display:inline-block;
        a{
          font-size:#{$pc_textTinySize}px;
          &.mail{
            &:before{
              width:10px;
              height: 8px;
              margin-right:3px;
              background-image:url(../images/common/icon_mail.png);
              background-position:0 0;
              background-repeat:no-repeat;
              @include background-size(10px auto);
            }
          }
        }
        &:first-child{
          margin-right:25px;
        }
      }
    }
  }

}

