.column{
  @include pie-clearfix;
  .item{
    float:left;
  }

  //2カラム
  &.col2{
    .item{
      width: 50%;
      .itemIn{
      }

      &:first-child{
        .itemIn{
          margin-right: #{$pc_column_spacing / 2}px;
        }
      }
      &:last-child{
        .itemIn{
          margin-left: #{$pc_column_spacing / 2}px;
        }
      }
    }

  }


  //3カラム
  &.col3{
    .item{
      width: 33.3%;
      .itemIn{
        margin-left: #{$pc_column_spacing / 2}px;
        margin-right: #{$pc_column_spacing / 2}px;
      }

      &:first-child{
        .itemIn{
          margin-left: 0;
        }
      }
      &:last-child{
        .itemIn{
          margin-right: 0;
        }
      }
    }
  }
}