.borderUnit{
  margin-top:20px;
  p{
    padding-bottom:20px;
  }
  img{
    min-width: 90px;
  }
}
@media screen and (max-width: 1036px) {
  .borderUnit{
    ul{
      margin-top:-20px;
      li{
        display: block;
        margin-top:10px;
        img{
          display: block;
          width:137px;
        }
      }
    }
  }
}

.menuUnit{
  &:before,
  &:after{
    width: 207px;
    height:93px;
    @include background-size(207px auto);
  }
  &:before{
    display: block;
    left:0;
    background-position:0 0;
  }
  &:after{
    right:0;
    background-position:0 -93px;
  }
  .menuHead{
    position:relative;
    z-index: 1;
    font-size:24px;
    line-height: $textLineHeight;
    text-align: center;
  }
  .selectHead{
    font-size:18px;
  }

  .selectStep{
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: -10px;
    > li{
      display: table-cell;
      padding-left:6px;
      &:first-child{
        padding-left:0;
        padding-right:6px;
      }
    }
  }
  .charge{
    p{
      font-size:12px;
    }
  }
  .topping{
    dt{
      font-size:16px;
    }
  }
  .soupLead{
    font-size: 18px;
  }
  .soupLevel{
    .level{
      font-size:14px;
    }
  }
}
