.shopDataList,
.companyDataList,
.drinkDataList,
.soupDataList1,
.soupDataList2{
  line-height: $textLineHeight;
  dt{
    font-weight: bold;
    margin-bottom:5px;
  }
  dd{
    margin-bottom:15px; 
  }
}

.drinkDataList{
  dt{
    text-align: center;
  }
  dd{
    line-height: $textLineHeightL;
    margin-bottom:0; 
  }
}

.soupDataList1{
  dt{
    img{
      vertical-align: middle;
      margin-left:3px;
    }
  }
  dd{
    line-height: $textLineHeightL;
  }
}

.soupDataList2{
  dt{
    margin-bottom:10px;
    span{
      font-weight: normal;
      font-size:#{$textTinySize}px;
      margin-left: 10px;
    }
    img{
      vertical-align: middle;
      margin-left:3px;
    }
  }
  dd{
    line-height: $textLineHeightL;
  }
}

.menuDataList{
  line-height: $textLineHeight;
  dt{
    margin-bottom:5px;
  }
  dd{
    margin-bottom:10px;
    text-align: right; 
  }
}
