.subnav{
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  border-top:1px solid $border_color;
  border-bottom:1px solid $border_color;
  li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding:5px 0;
    a{
      display: block;
      height:100%;
      line-height: $textMinLineHeight;
      font-size:#{$textSmallSize}px;
      padding:7px 0;
      white-space: nowrap;
    }
    &.cur{
      background-color:$status_auxiliaryBgColor;
      font-weight: bold;
      a{
        &:hover{
          text-decoration: none;
        } 
      }
    }
  }
  + .subnav{
    border-top-width: 0;
  }
}