.subnav{
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  border-top:1px solid $border_color;
  border-bottom:1px solid $border_color;
  li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding:5px 0;
    a{
      display: block;
      height:100%;
      line-height: $textMinLineHeight;
      font-size:#{$textMediumSize}px;
      padding:5px;
    }
    &.cur{
      background-color:$status_auxiliaryBgColor;
      a{
        &:hover{
          text-decoration: none;
        } 
      }
    }
  }
}