@mixin tapped {
  background-color: #{$cassette_tappedBackgroundColor};
}

@mixin imageTapped() {
  .#{$class_tap} {
    cursor: pointer;
    width:100%;
    height: 100%;
    &.#{$class_tapped} {
      content: "";
      vertical-align: top;
      background-color: #{$banner-tappedColor};
    }
  }
}