.head1{
  border-left:6px solid $status_attentionColor;
  padding-left:12px;
  font-size:26px;
  font-weight: bold;
  line-height:$textLineHeight;
  margin-bottom:15px;
}
.head2{
  font-size:22px;
  font-weight: bold;
  line-height:$textLineHeight;
  margin-bottom:10px;
}