/*****
* Config
*/

/**
* Scaffolding
*/
/* All */
$boxSizing:      'border-box';
$textSizeAdjust: 'none';
$tapHighlight: rgba(0,0,0,0);

/* Font */
$fontFamily: Arial, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

/* Body */
$bodyBackgroundColor: '#f1f2f3';

/* Responsive */
$responsive: true; //true, false
$responsiveMinWidth: 580;

/*
* Layout
*/
/* container */
$containerMaxWidth: 960;
$containerMinWidth: 320;

/*
* Spacing
*/
/* spacing base */
$spacing: 5;
$spacingLength: 5;

/* spacing outer */
$spacingOuter:       8;
$spacingOuterTop:    0;
$spacingOuterRight:  8;
$spacingOuterLeft:   8;
$spacingOuterBottom: 8;

/* spacingInner */
$spacingInner: 6;
$spacingInnerTop: 6;
$spacingInnerRight: 6;
$spacingInnerLeft: 6;
$spacingInnerBottom: 6;

/* border */
$borderColor: #ccc;

/* border-radius outer */
$borderOuterRadius: 5;
$borderOuterRadiusTop: 5;
$borderOuterRadiusRight: 5;
$borderOuterRadiusLeft: 5;
$borderOuterRadiusBottom: 5;

/* border-radius inner */
$borderInnerRadius: 3;
$borderInnerRadiusTop: 3;
$borderInnerRadiusRight: 3;
$borderInnerRadiusLeft: 3;
$borderInnerRadiusBottom: 3;


/*
* Grid
*/
/* row */
$rowBaseUnit: '%';
$rowBaseWidth: 100;
$rowBaseMargin: 2;
$rowGridLength: 12;


/**
* Base Elements
*/

/*
* typography
*/
/* font-size */
$textDefaultSize: 14;
$textHugeSize:  ($textDefaultSize + 6);
$textJumboSize: ($textDefaultSize + 4);
$textLargeSize: ($textDefaultSize + 2);
$textMediumSize: $textDefaultSize;
$textSmallSize: ($textDefaultSize - 2);
$textTinySize:  ($textDefaultSize - 4);

/* line-height */
$textMinLineHeight: 1.4; // override to 1 @aurora
$textLineHeight: 1.4; // override to 1.2 @aurora
$textLineHeightM: 1.4;
$textLineHeightL: 1.6;


/* minor */
$minor_textSize: 14; // override to 12 @aurora

/* empty-message */
$empty-message_color: #bec3c8;


/*
* Lists
*/


/*
* tables
*/
$tableBorderColor           : #e7e8e9;
$tableBackgroundColor       : #f7f8f9;
$tableBackgroundHoverColor  : #e7e8e9;


/*
* Forms
*/


/*
* Images
*/
$imgRoundBorderRadius: $borderInnerRadius;

/*
* status
*/
/* color */
// default
$status_normalColor                  :'#345';
$status_minorColor                   :'#789';
$status_primaryColor                 :'#187abf';
$status_warningColor                 :'#c09853';
$status_successColor                 :'#34b842';
$status_errorColor                   :'#d14';
$status_disabledColor                :'#f7f7f9';
$status_requiredColor                :'#c09853';
$status_darkColor                    :'#123';
$status_attention                    :'#f44';
$status_information                  :'#00a0dc';
// active
$status_activeNormalColor            :'#789';
$status_activeMinorColor             :'#e1e2e3';
$status_activePrimaryColor           :'#187abf';
$status_activeWarningColor           :'#c09853';
$status_activeSuccessColor           :'#34b842';
$status_activeErrorColor             :'#d14';
$status_activeDisabledColor          :'#f7f7f9';
$status_activeRequierdColor          :'#c09853';
$status_activeDarkColor              :'#123';

$status_tappedColor                  :'#fff';
$status_loadingColor                 :'';

/* backgroundColor */
// default
$status_normalBackgroundColor        :'';
$status_minorBackgroundColor         :'';
$status_primaryBackgroundColor       :'';
$status_warningBackgroundColor       :'';
$status_successBackgroundColor       :'';
$status_errorBackgroundColor         :'';
$status_disabledBackgroundColor      :'';
$status_requiredBackgroundColor      :'';
$status_darkBackgroundColor          :'';
// active
$status_activeNormalBackgroundColor  :'';
$status_activeMinorBackgroundColor   :'';
$status_activePrimaryBackgroundColor :'';
$status_activeWarningBackgroundColor :'';
$status_activeSuccessBackgroundColor :'';
$status_activeErrorBackgroundColor   :'';
$status_activeDisabledBackgroundColor:'';
$status_activeRequierdBackgroundColor:'';
$status_activeDarkBackgroundColor    :'';

$status_tappedBackgroundColor        :'';
$status_loadingBackgroundColor       :'';

/* borderColor */
// default
$status_normalBorderColor            :'#e1e2e3';
$status_minorBorderColor             :'#f6f6f6';
$status_primaryBorderColor           :'#8ddce3';
$status_warningBorderColor           :'#e3c18d';
$status_successBorderColor           :'#66d371';
$status_errorBorderColor             :'#d96464';
$status_disabledBorderColor          :'#e7e8e9';
$status_requiredBorderColor          :'#e3c18d';
$status_darkBorderColor              :'';
// active
$status_activeNormalBorderColor      :'#e6e6e6';
$status_activeMinorBorderColor       :'#f6f6f6';
$status_activePrimaryBorderColor     :'#8ddce3';
$status_activeWarningBorderColor     :'#e3c18d';
$status_activeSuccessBorderColor     :'#66d371';
$status_activeErrorBorderColor       :'#d96464';
$status_activeDisabledBorderColor    :'#e7e8e9';
$status_activeRequierdBorderColor    :'#e3c18d';
$status_activeDarkBorderColor        :'';

$status_tappedBorderColor            :'';
$status_loadingBorderColor           :'';

/* text link color*/
$link_defaultTextColor: '#0091cb';
$link_defaultBackgroundColor: '';
$link_tappedTextColor: '';
$link_tappedBackgroundColor: 'rgba(0,0,0,0.2)';
$link_tappedBorderRadius: '3';


