.#{$class_table-striped} {
  th,td {
    border-bottom: solid 1px #{$tableBorderColor};
  }
  tbody tr {
    &.#{$class_last-child},
    &:last-child{
      th,td {
        border-bottom: 0 none;
      }
    }
    &:nth-child(even) {
      td {
        background-color: #{$tableBackgroundColor};
      }
    }
  }
}
