.#{$class_form-vertical} {
  .#{$class_form-field} {
    display: block;
    margin-bottom: #{$spacingOuterBottom}#{$spacingUnit};
  }
  .#{$class_form-label} {
    display: block;
    @include medium;
    margin-bottom: #{$spacing}#{$spacingUnit};
  }
}
