/* Top */
@for $i from 0 through $spacingLength {
  .mt#{($i * $spacing)} {
    margin-top: #{($i * $spacing)}px!important;
  }
}

/* Bottom */
@for $i from 0 through $spacingLength {
  .mb#{($i * $spacing)} {
    margin-bottom: #{($i * $spacing)}px!important;
  }
}

/* Left */
@for $i from 0 through $spacingLength {
  .ml#{($i * $spacing)} {
    margin-left: #{($i * $spacing)}px!important;
  }
}

/* Right */
@for $i from 0 through $spacingLength {
  .mr#{($i * $spacing)} {
    margin-right: #{($i * $spacing)}px!important;
  }
}

