.subnav{
  width: 50%;
  float: left;
  border-top-width:1px !important;

  &.wFull{
    width: 100%;
  }
  
  li{
    a{
      color:$status_normalColor;
      padding: 5px;
      line-height: $textMinLineHeight;
      font-size:#{$pc_textMediumSize}px;
    }
    &.cur{
      background-color:$status_auxiliaryBgColor;
      a{
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}